.About{
    max-width: 1200px;
    min-height: 80vh;
    margin: 25px auto 0;
    padding: 30px 20px 10px;
    border: 3px solid #ff5508;
    border-radius: 4px;
    background: #37474f;
    font-size: 23px;
}
.About h2{
    color: #3FF9DC;
    text-transform: uppercase;
}
.About h3{
    color: #ff5508;
}
.About p{
    color: #fff;
    padding: 0 25px;
}