.Navigation{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.Navigation h1{
    text-transform: uppercase;
    color: #3FF9DC;
    background: #37474f;
    padding: 5px 10px;
    border-radius: 5px;
}
.Links{
    list-style: none;
    padding: 20px 10px;
    margin: 0;
}
.Links li{
    list-style: none;
    display: inline-block;
    padding: 0;
}
.Link{
    border: 3px solid #3FF9DC;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: #37474f;
    padding: 10px 15px;
    margin: 4px 5px;
}
.Link.active{
    border-color: #ff5508;
}
.Link:hover{
    border-color: #ff5508;
}