.Post{
    max-width: 1200px;
    min-height: 80vh;
    margin: 25px auto 0;
    padding: 30px 20px 10px;
    border: 3px solid #ff5508;
    border-radius: 4px;
    background: #37474f;
    font-size: 23px;
}
.Post .Header{
    padding: 15px 0;
    color: #3FF9DC;
    display: flex;
    justify-content: space-between;
}
.Header h2, .Header span{
    line-height: 30px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 4px;
}
.TextWrapper{
    border: 1px solid #3FF9DC;
    color: #fff;
    border-radius: 4px;
    padding: 0 10px;
    margin: 25px 0;
}
.Post button{
    margin-right: 10px;
    font-size: 1em;
}